general:
  notifier: notify-send
profiles:
  # Profile names are unordered.
  # Each profile should have a list of rules, and each rule has a list of commands with arguments.
  # The rules are searched in order, and in each rule autoaudio tries to run the list of commands, until one rule
  # fully succeeds.
  # profile_name:
  #   - rule1:
  #     - command1: arguments
  #     - command2: arguments
  #   - rule2:
  #     - command1: arguments
  #     - command2: arguments
  # Available commands: if_have_card, set_profile, set_default_sink, set_default_source, exec
  # The easiest way to populate this, is to run `autoaudio.py --capture` and paste here what you get!
  music:
    - bose:
      - if_have_card: ...
      - set_profile:
          card: ...
          profile: "a2dp_sink"
      - set_default_sink: ...
    - jabra:
      - if_have_card: ...
      - set_profile:
          card: ...
          profile: a2dp_sink
      - set_default_sink: ...
    - audient:
      - if_have_card: ...
      - set_profile:
          card: ...
          profile: ...
      - set_default_sink: ...
      - exec: amixer -c 3 set Speaker playback rear 0% >/dev/null     # I personally use these to force this surround card to be stereo
      - exec: amixer -c 3 set Speaker playback front 100% >/dev/null
  calls:
    - bose:
      - if_have_card: ...
      - set_profile:
          card: ...
          profile: "headset_head_unit"
      - set_default_sink: ...
      - set_default_source: ...
    - jabra:
      - if_have_card: ...
      - set_profile:
          card: ...
          profile: headset_head_unit
      - set_default_sink: ...
      - set_default_source: ...
